* {
    margin: 0 ;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #fecc00;
}

/* IDEA
 .encabezado {
    border-bottom:  2px solid yellow;
}
*/

 /* HOME PAGE */
.product {
    width: 100%;
    height: 800px;
    text-align: center;
    background-image: url(../imgs/backgrounds/nuevaerabici.jpg);
    background-repeat: none;
    background-size: 100%;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-items: stretch;
    align-items: stretch;
    justify-content: center;
    align-content: center;
}
.divproducto {
    grid-column: 2/3 ;
    grid-row: 1/2 ;
    justify-self: center;
    align-self: center;
}
.videoproducto { 
    grid-area: 2 / 2 / 2 / 3; 
}


/* PAGINA BEBIDAS */ 

.bebidas {
    background-color: black;
}

/* PAGINA X FIT */

.xfit {
    background-color: white;
}

.galeriax {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.item {
    padding: 0 100px;
}

/*PAGINA EVENTOS */

.eventos {
    background-color: black;
}

/* FOOTER */
.footer {
    text-align: center;
    background-color: black;
}
